<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SongFinder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 id="merhaba">Merhaba!</h1>
        <h1 id="aciklama">Hep Aynı Müzikleri Dinlemekten Sıkılmadınız Mı?</h1>
        <button id="button" onclick="parent.location='/oneriSayfasi'">Evet,Tabiki de sıkıldım.</button>
        <button id="button" onclick="parent.location='/uzucuSayfasi'">Hayır,Niye sıkılayım ki.</button>

    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>