<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorular</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 id="button">Hangi Şarkılar Sana Uygun</h1>
        <p></p>
        <h1 id="button">Haydi Bulalım</h1>
        
        <!-- Buton: Soruları Başlat -->

        <!-- Sorular Formu -->
        <div id="button">
            <form action="/oneriSayfasi" method="POST">
                <p>1.Favori Şarkın</p>
                <input type="text" name="sarki_bilgi" required><br><br>

                <p>2.Tercih Ettiğin Tür</p>
                <input type="text" name="tur_bilgi" required><br><br>

                <p>2.Tercih Ettiğin Dil</p>
                <input type="text" name="dil_bilgi" required><br><br>

                <button type="submit">Cevapları Gönder</button>
            </form>
        </div>
        
        <!-- Sonuçları Göster -->
        {% if sonuc %}
            <h2>Sonuç:</h2>
            <p>{{ sonuc }}</p>  <!-- Sonuç mesajını burada gösteriyoruz -->
        {% endif %}
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>