<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yeni Sayfa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    
    <div class="container">

        <a ><img src="https://m.media-amazon.com/images/I/41xssC7sF6L._AC_UF1000,1000_QL80_.jpg" ></a>
        <p>
        <a href="/">Fikrimi Değiştirdim</a>
    </div>
</body>
</html>